body {
      background-color: beige;
  }
  
  .title{
  padding-left: 12em;  
  margin-top: 2em;
  border-style: solid ;
  border-color: olivedrab;
  }
   ul { text-align:left; 
  padding-left: 25em; }



